@import "tailwindcss";

@theme {
  --color-primary: #856DF3;
  --color-paragraph: #757575;
  --breakpoint-mobile: 375px;
  --breakpoint-tablet:768px;
}

@layer base {

  .login-btn {@apply w-full h-11 text-base font-semibold bg-[#333333] text-[#FEFEFE] rounded-lg mb-5 cursor-pointer}
    .db-card {@apply bg-white rounded-xl p-4}

    .input-field-control {@apply focus-within:border-primary border border-transparent h-[38px] rounded-lg bg-[#F5F5F5] outline-none px-3 py-2 w-full}
    textarea.db-field-control {@apply h-16}
    .input-field-title {@apply text-[11px] font-semibold mb-1.5}
    .input-field-control::placeholder {@apply text-xs text-paragraph}
    .input-field-checkbox { @apply flex items-center gap-2 w-fit cursor-pointer }
    .custom-checkbox { @apply relative w-3 h-3 cursor-pointer }
    .custom-checkbox-field { @apply absolute z-10 opacity-0 w-full h-full appearance-none cursor-pointer }
    .custom-checkbox-icon { @apply absolute top-0 left-0 w-full h-full text-center rounded !leading-[10px] text-[6px] border cursor-pointer border-[#d9dee3] text-white }
    .custom-checkbox-field:checked + .custom-checkbox-icon { @apply bg-primary border-primary}
    .error-message {@apply text-xs text-red-500 mt-1}


    .sidebar {@apply md:px-2 lg:px-4 px-4 py-5 shrink-0 max-w-[223px] h-dvh fixed top-0 left-0 z-30 bg-white max-tablet:-translate-x-full shadow-xs transition-transform duration-300}
    .db-sidebar.active { @apply translate-x-0 lg:-translate-x-full lg:shadow-none }
    .db-sidebar-header { @apply flex items-center justify-between mb-3 pb-3}

    .db-sidebar-nav-item, .db-sidebar-nav-list {@apply w-full lg:w-full tablet:w-fit}
    .db-sidebar-nav-item.active .db-sidebar-nav-menu { @apply text-primary bg-[#E3DDFF] }
    .db-sidebar-nav-item.router-link-active .db-sidebar-nav-menu { @apply text-primary bg-[#E3DDFF] }
    .db-sidebar-nav-menu.router-link-active { @apply text-primary bg-primary/5 }
    .db-sidebar-nav-menu { @apply capitalize w-full lg:w-full tablet:w-fit flex items-center justify-start text-left rounded gap-3 py-2.5 px-3 transition hover:bg-gray-100 }
    .db-sidebar-nav-menu i { @apply text-[22px] }
    .db-sidebar-nav-menu span { @apply text-base flex-auto text-left tablet:hidden lg:block max-tablet:block}


    /* BREADCRUMB */
    .db-breadcrumb { @apply flex flex-col flex-wrap gap-y-2 gap-x-5 items-center justify-center sm:flex-row sm:justify-between text-black}
    .db-breadcrumb-list { @apply flex flex-wrap items-center justify-center sm:justify-end }
    .db-breadcrumb-item { @apply capitalize text-[11px]}
    .db-breadcrumb-link { @apply transition hover:text-primary after:content-['/'] after:px-1.5 }


    /* TABLE */
    .db-table-responsive { @apply w-full overflow-auto }
    .db-table { @apply table-auto w-full text-left whitespace-nowrap }
    .db-table.stripe .db-table-body-tr { @apply odd:!bg-[#f9fafb] }
    .db-table-head { @apply ltr:text-left rtl:text-right border-b-2 border-t border-gray-200 }
    .db-table-body { @apply ltr:text-left rtl:text-right }
    .db-table-head-th { @apply px-4 py-3  tracking-[1px] font-medium text-xs uppercase text-[#566a7f] }
    .db-table-body-tr { @apply border-b border-gray-200 last:border-none }
    .db-table-body-td { @apply px-4 py-3 text-sm }

    .db-footer {@apply flex flex-col md:flex-row gap-2 md:gap-8 justify-center md:justify-between lg:justify-normal items-center px-5 pb-5 bg-[#F0F0F0]}

  }


body {
  font-family: var(--font-nunito);
  color: black;
}
